{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <header>
        <div class="grid-header">
            <div class="title">
                <h1>Registrierung</h1>
            </div>
        </div>
    </header>
    <main class="grid-main">
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/brigada.png' %}" alt='brigada'/>
            </div>
            <div class="navigation">
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/help_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            Hilfe
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="card-container">
                <div class="card">
                    <div class="header">
                        <p>Registrieren</p>
                    </div>
                    <div class="form-container">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Registrieren</button>
                        </form>
                        <p>Bereits Konto? Stattdessen <a href="{% url 'login' %}">Anmelden</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="ad">
            <div class="text">
                <div class="swiss-made">
                    <p>Swiss Made</p>
                </div>
                <div class="kiidle">
                    <p class="blue">K</p>
                    <p class="red">i</p>
                    <p class="gold">i</p>
                    <p class="blue">d</p>
                    <p class="green">l</p>
                    <p class="red">e</p>
                </div>
            </div>
            <div class="flag">
                <img src="{% static 'images/switzerland.png' %}" alt='brigada'/>
            </div>
        </div>
    </footer>
{% endblock %}