{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <header>
        <div class="grid-header">
            <div class="title">
                <h1>{% translate "Chats" %}</h1>
            </div>
        </div>
    </header>
    <div class="custom-main">
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/brigada.png' %}" alt='brigada'/>
            </div>
            <div class="navigation">
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/home_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Home" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/notification_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benachrichtigung" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/log_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Systemprotokolle" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/group_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benutzer" %}
                        </div>
                    </div>
                </a>
                <a href="https://github.com/Kiidle/project.brigada/wiki" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/help_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Hilfe" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="rest-sidebar">
                <a href="{% url 'logout' %}">
                    {% translate "Abmelden" %}
                </a>
            </div>
        </div>
        <div class="contacts">
            <div class="grid-contacts">
                {% for user in users %}
                    {% if not request.GET.search or user.first_name|lower in request.GET.search|lower or user.last_name|lower in request.GET.search|lower %}

                        <a href="{% url 'chat' user.id %}" class="section">
                            <p>{{ user.first_name }} {{ user.last_name }}</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="content">
            <div class="user-container">
                <div class="card">
                    <div class="grid-card">
                        <div class="user-data">
                            <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        </div>
                        <div class="group">
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'citizen' %}
                                    <p class="citizen">{{ group.name|title }}</p>
                                {% elif group.name == 'lew' %}
                                    <p class="lew">{{ group.name|title }}</p>
                                {% else %}
                                    <p>Unverified Group</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if user.pp %}
                            <a href="{% url 'home' %}" class="profile">
                                <img src="{{ user.get_profile_url }}" alt="{{ feed.profile }}"/>
                            </a>
                        {% else %}
                            <a href="{% url 'home' %}" class="no-profile">
                                <img src="{% static 'svgs/profile_filled.svg' %}" alt='home'/>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <form class="search-user" action="{% url 'chats' %}" method="get">
                <input type="text" name="search" placeholder="{% translate 'Vorname oder Nachname' %}">
                <button type="submit">{% translate "Suche" %}</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="ad">
            <div class="text">
                <div class="swiss-made">
                    <p>Swiss Made</p>
                </div>
                <div class="kiidle">
                    <p class="blue">K</p>
                    <p class="red">i</p>
                    <p class="gold">i</p>
                    <p class="blue">d</p>
                    <p class="green">l</p>
                    <p class="red">e</p>
                </div>
            </div>
            <div class="flag">
                <img src="{% static 'images/switzerland.png' %}" alt='brigada'/>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const chatSocket = new WebSocket('ws://localhost:8000/chats');

        chatSocket.onopen = function () {
            console.log('WebSocket-Verbindung geöffnet');
        };

        chatSocket.onmessage = function (event) {
            console.log('Nachricht erhalten:', event.data);
        };

        chatSocket.onclose = function (event) {
            console.log('WebSocket-Verbindung geschlossen:', event);
        };

        chatSocket.onerror = function (error) {
            console.error('WebSocket-Fehler:', error);
        };
    </script>
{% endblock %}