{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <header>
        <div class="grid-header">
            <div class="title">
                <h1>{% translate "Chats" %}</h1>
            </div>
        </div>
    </header>
    <div class="custom-main">
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/brigada.png' %}" alt='brigada'/>
            </div>
            <div class="navigation">
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/home_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Home" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/notification_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benachrichtigung" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/log_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Systemprotokolle" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/group_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benutzer" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/help_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Hilfe" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="rest-sidebar">
                <a href="{% url 'logout' %}">
                    {% translate "Abmelden" %}
                </a>
            </div>
        </div>
        <div class="contacts">
            <div class="grid-contacts">
                {% for user_in in users %}
                    {% if user_in == user %}
                        <a href="{% url 'chats' %}" class="section">
                            <p class=" current">{{ user_in.first_name }} {{ user_in.last_name }}</p>
                        </a>
                    {% else %}
                        <a href="{% url 'chat' user_in.id %}" class="section">
                            <p>{{ user_in.first_name }} {{ user_in.last_name }}</p>
                        </a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <div class="chat-container">
            <div class="chat">
                <div class="chat-grid">
                    <div class="user">
                        <div class="grid">
                            <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
                            <p class="username">@{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="chat-area" id="chat-area">
                        {% for message in messages %}
                            {% if message.author == request.user and message.to == user %}
                                <div class="sent">
                                    <div class="card">
                                        <p>{{ message.author.first_name }} {{ message.author.last_name }}</p>
                                        <p>{{ message.content }}</p>
                                    </div>
                                </div>
                            {% else %}
                                {% if message.author == user %}
                                    <div class="received">
                                        <div class="card">
                                            <p>{{ message.author.first_name }} {{ message.author.last_name }}</p>
                                            <p>{{ message.content }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                var socket = new WebSocket("ws://" + window.location.host + "/chats");

                                // WebSocket-Verbindung hergestellt
                                socket.onopen = function (event) {
                                    console.log("WebSocket connected:", event);
                                };

                                // WebSocket-Nachricht empfangen
                                socket.onmessage = function (event) {
                                    var message = JSON.parse(event.data);

                                    // Prüfen, ob die Nachricht an den aktuellen Benutzer gerichtet ist
                                    if (message.to == "{{ request.user.id }}" && message.author == "{{ user_id }}") {
                                        // Nachrichteninhalt in der HTML-Ansicht aktualisieren
                                        $("#chat-messages").append("<p>" + message.content + "</p>");
                                    }
                                };

                                // WebSocket-Verbindung geschlossen
                                socket.onclose = function (event) {
                                    console.log("WebSocket closed:", event);
                                };

                                // Formular absenden
                                $("#chat-form").on("submit", function (event) {
                                    event.preventDefault();

                                    // Nachrichtendaten aus dem Formular extrahieren
                                    var author = "{{ request.user.id }}";
                                    var to = "{{ user_id }}";
                                    var content = $("#chat-input").val();

                                    // Nachricht an den Server senden
                                    socket.send(JSON.stringify({
                                        "author": author,
                                        "to": to,
                                        "content": content
                                    }));

                                    // Formular zurücksetzen
                                    $("#chat-input").val("");
                                });
                            });
                        </script>
                    </div>
                    <div class="post-chat">
                        <form method="post" action="{% url 'chat' pk=user.pk %}">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="message"
                                   placeholder="{% translate "Nachricht" %}">
                            <button type="submit" class="btn btn-primary">{% translate "Abschicken" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="ad">
            <div class="text">
                <div class="swiss-made">
                    <p>Swiss Made</p>
                </div>
                <div class="kiidle">
                    <p class="blue">K</p>
                    <p class="red">i</p>
                    <p class="gold">i</p>
                    <p class="blue">d</p>
                    <p class="green">l</p>
                    <p class="red">e</p>
                </div>
            </div>
            <div class="flag">
                <img src="{% static 'images/switzerland.png' %}" alt='brigada'/>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}