{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <header>
        <div class="grid-header">
            <div class="title">
                <h1>{% translate "Medien" %}</h1>
            </div>
        </div>
    </header>
    <div class="custom-main">
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/brigada.png' %}" alt='brigada'/>
            </div>
            <div class="navigation">
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/home_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Home" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/notification_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benachrichtigung" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/log_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Systemprotokolle" %}
                        </div>
                    </div>
                </a>
                <a href="{% url 'home' %}" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/group_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Benutzer" %}
                        </div>
                    </div>
                </a>
                <a href="https://github.com/Kiidle/project.brigada/wiki" class="section">
                    <div class="grid-section not-current">
                        <div class="icon">
                            <img src="{% static 'svgs/help_filled.svg' %}" alt='home'/>
                        </div>
                        <div class="text">
                            {% translate "Hilfe" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="rest-sidebar">
                <a href="{% url 'logout' %}">
                    {% translate "Abmelden" %}
                </a>
            </div>
        </div>
        <div class="media">
            <div class="grid-media">
                <div class="section">
                    <div class="current">
                        {% translate "Startseite" %}
                    </div>
                </div>
                <div class="section">
                    <div class="not-current">
                        {% translate "Suche" %}
                    </div>
                </div>
                <div class="section">
                    <div class="not-current">
                        {% translate "Abonniert" %}
                    </div>
                </div>
                <div class="section">
                    <div class="not-current">
                        {% translate "Abonnenten" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="user-container">
                <div class="card">
                    <div class="grid-card">
                        <div class="user-data">
                            <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        </div>
                        <div class="group">
                            {% for group in request.user.groups.all %}
                                {% if group.name == 'citizen' %}
                                    <p class="citizen">{{ group.name|title }}</p>
                                {% elif group.name == 'lew' %}
                                    <p class="lew">{{ group.name|title }}</p>
                                {% else %}
                                    <p>Unverified Group</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if user.pp %}
                            <a href="{% url 'home' %}" class="profile">
                                <img src="{{ user.get_profile_url }}" alt="{{ feed.profile }}"/>
                            </a>
                        {% else %}
                            <a href="{% url 'home' %}" class="no-profile">
                                <img src="{% static 'svgs/profile_filled.svg' %}" alt='home'/>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="flex-content">
                <div class="square-buttons">
                    <a href="{% url 'feed_create' %}" class="square-button square-button-black a-reset">
                        <img src="{% static 'svgs/create.svg' %}" alt="create">
                    </a>
                </div>
                <div class="scrollable-feeds">
                    <div class="feed-container">
                        <div class="feeds">
                            {% for feed in feeds %}
                                {% if feed.visibility == True or feed.author == request.user %}
                                    <div class="feed">
                                        <a href="/" class="feed-user a-reset">
                                            <div class="feed-profile">
                                                {% if feed.author.pp %}
                                                    <img src="{{ feed.author.get_profile_url }}"
                                                         alt="{{ feed.profile }}"/>
                                                {% else %}
                                                    <img class="no-pp" src="{% static 'svgs/profile_filled.svg' %}"/>
                                                {% endif %}

                                            </div>
                                            <div class="feed-name">
                                                <p>{{ feed.author.first_name }} {{ feed.author.last_name }}</p>
                                                {% if feed.author.verified %}
                                                    <img src="{% static 'images/verified_filled.svg' %}"
                                                         alt="verified"/>

                                                {% endif %}
                                            </div>
                                            <div class="feed-username">
                                                <p>@{{ feed.author.username }}</p>
                                            </div>
                                        </a>
                                        <a href="{% url 'feed' feed.id %}" class="feed-description a-reset">
                                            {% if feed.visibility == True %}
                                                <p>{{ feed.description }}</p>
                                            {% else %}
                                                <p class="private">Hinweis: Nicht sichtbar</p>
                                                <p>{{ feed.description }}</p>
                                            {% endif %}
                                        </a>
                                        <a href="{% url 'feed' feed.id %}" class="feed-image a-reset">
                                            {% if feed.image %}
                                                <img src="{{ feed.get_image_url }}" alt="{{ feed.description }}">
                                            {% endif %}
                                        </a>
                                        <a href="{% url 'feed' feed.id %}" class="feed-buttons a-reset">
                                            <div class="button-like">
                                                {% if feed.id not in unlike_flag %}
                                                    <button class="unlike-btn">
                                                        <img class="like" src="{% static 'svgs/heart_filled.svg' %}"/>
                                                    </button>
                                                {% endif %}
                                                {% if feed.id in unlike_flag %}
                                                    <button class="like-btn">
                                                        <img class="unlike"
                                                             src="{% static 'svgs/heart_unfilled.svg' %}"/>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="feed-like">
                                                {% if feed.likes.count > 0 %}
                                                    <p class="likes-count">{{ feed.likes.count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="button-commentary">
                                                <img class="unlike" src="{% static 'svgs/commentary_unfilled.svg' %}"/>
                                            </div>
                                            <div class="feed-commentary">
                                                {% if feed.commentaries.count < 1 %}
                                                    <p></p>
                                                {% else %}
                                                    <p>{{ feed.commentaries.count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="button-report">
                                                <button>
                                                    <img class="not-reported"
                                                         src="{% static 'svgs/report_unfilled.svg' %}"/>
                                                </button>
                                            </div>
                                        </a>
                                        <a href="{% url 'feed' feed.id %}" class="feed-timeshow a-reset">
                                            <p>{{ feed.time_since_published }}</p>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="ad">
            <div class="text">
                <div class="swiss-made">
                    <p>Swiss Made</p>
                </div>
                <div class="kiidle">
                    <p class="blue">K</p>
                    <p class="red">i</p>
                    <p class="gold">i</p>
                    <p class="blue">d</p>
                    <p class="green">l</p>
                    <p class="red">e</p>
                </div>
            </div>
            <div class="flag">
                <img src="{% static 'images/switzerland.png' %}" alt='brigada'/>
            </div>
        </div>
    </footer>
{% endblock %}