.content {
    padding: 12px;
}

.content .search-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px auto;
}

.content .search-user input {
    height: 38px;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.content .search-user button {
    height: 50px;
    background: #000000;
    padding: 12px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.user-container {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: right;
}

.user-container .card {
    background-color: white;
    display: flex;
    align-items: center;
}

.user-container .card .grid-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 48px;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "userdata profile"
        "group profile";
    margin: 0 12px;
}

.user-container .card .grid-card .user-data {
    grid-area: userdata;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 12px;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);

}

.user-container .card .grid-card .group {
    grid-area: group;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.user-container .card .grid-card .group .citizen {
    color: gray;
}

.user-container .card .grid-card .group .lew {
    color: red;
}

.user-container .card .grid-card .profile {
    grid-area: profile;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);


}

.dashboard {
    display: grid;
    margin: 24px 0;
    grid-gap: 16px;
}

.dashboard .field {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .card {
    background-color: white;
    height: 148px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.dashboard .card .grid-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 84px 1fr;
    grid-template-areas:
        "app-icon"
        "app-name";
}

.dashboard .card .app-icon {
    grid-area: app-icon;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard .card .app-name {
    grid-area: app-name;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-container {
    height: 100%;
    display: flex;
    vertical-align: center;
}

.content .card-container .card {
    display: block;
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 2px;
}

.content .feed-container {
    width: 100%;
    max-width: 500px;
    overflow-y: scroll;
    height: calc(100vh - 75px);
}

.content .feed-container::-webkit-scrollbar {
    display: none;
}

.content .feeds {
    width: 100%;
    max-width: 500px;
}

.content .feeds .feed {
    width: 100%;
    background: white;
    margin: 0 0 12px 0;
    border-bottom-color: #d9d9d9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.content .feeds .feed .feed-user {
    padding: 6px;
    height: 50px;
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 24px 24px;
    grid-template-areas:
        "feed-profile feed-name"
        "feed-profile feed-username";
    grid-column-gap: 12px;
    border-bottom-color: #b6b6b6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.content .feeds .feed .feed-user .feed-profile {
    grid-area: feed-profile;
    display: flex;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(56%) sepia(4%) saturate(13%) hue-rotate(346deg) brightness(96%) contrast(87%);

}

.content .feeds .feed .feed-user .feed-profile img {
    width: 100%;
    height: 100%;
}

.content .feeds .feed .feed-user .feed-name {
    font-weight: bold;
    grid-area: feed-name;
    display: flex;
    align-items: center;
}

.content .feeds .feed .feed-user .feed-name p {
    margin-right: 6px;
}

.content .feeds .feed .feed-user .feed-name img {
    height: 16px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(56%) saturate(832%) hue-rotate(159deg) brightness(91%) contrast(96%);
    color: #3ec2e5
}

.content .feeds .feed .feed-user .feed-username {
    grid-area: feed-username;
    display: flex;
    align-items: center;
    color: gray;
}

.content .feeds .feed .feed-description {
    padding: 12px;
    word-break: break-word;
    color: gray;
}

.content .feeds .feed .feed-image {
    display: flex;
    align-items: center;
    background-color: #eeeeee
}

.content .feeds .feed .feed-image img {
    width: 100%;
    border-top-color: #b6b6b6;
    border-bottom-color: #b6b6b6;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.content .feeds .feed .feed-buttons {
    padding: 12px;
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: 32px 1fr;
    grid-template-areas:
        "button-like ."
        "feed-like .";
}

.content .feeds .feed .feed-buttons .button-like {
    grid-area: button-like;
}

.content .feeds .feed .feed-buttons .feed-like {
    grid-area: feed-like;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.content .feeds .feed .feed-buttons .button-like button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content .feeds .feed .feed-buttons .button-like .unlike {
    width: 100%;
}

.content .feeds .feed .feed-buttons .button-like .like {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(56%) sepia(37%) saturate(3679%) hue-rotate(323deg) brightness(113%) contrast(106%);
}

.card .header {
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 2px 2px 0 0;
}

.card .form-container {
    background-color: white;
    padding: 12px;
}

.card form p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px;
    margin: 20px 0;
}

.card form p input, .card form select, .card form textarea, .card form input {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    padding: 10px;
    resize: none;
}

.card form label {
    display: flex;
    justify-content: left;
    align-items: center;
}

.card form .checkbox {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 0;
}

.card form textarea {
    height: 75px;
}

.card form p select {

}

.card form .answer p {
    display: block;
    margin: 0;
}

.card form ul {
    margin-left: 20px;
}

.card form .errorlist {
    color: red;
}

.card form button {
    height: 50px;
    margin: 20px 0;
    background-color: #ffab00;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.card a {
    color: #ffab00;
    text-decoration: none;
}

@media screen and (min-width: 655px) {
    .dashboard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 915px) {
    .dashboard {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}